.top-bar {
    font-family: "DepartureMono Nerd Font";
    font-size: 16px;
    color: #ffffff;
}

window.top-bar#waybar {
  background-color: rgba(0, 0, 0, 0.0);
}

#mpris {
    background: black;
    padding: 0 35px 0 10px;
}

#custom-userandhost {
  padding: 0px 50px 0px 10px;
  background: linear-gradient(45deg, black 80%, transparent 80%);
}

#workspaces {
  background: transparent;
}

#workspaces button {
    background-color: #000000;
    color: #ffffff;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    padding: 0;
    margin: 4px;
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #000000;
}

#workspaces button:hover {
    background-color: #ffffff;
    color: #000000;
}

#clock {
    background: linear-gradient(45deg, transparent 24px, black 24px);
    padding: 0 15px 0 35px;
}

.left-bar {
    font-family: "DepartureMono Nerd Font";
    font-size: 15px;
    color: #000000;
}

window.left-bar#waybar {
  background-color: rgba (0, 0, 0, 0.0);
}

#custom-dualitybox {
  padding: 10px 10px 4px 10px;
  background: linear-gradient(45deg, white 50%, black 50%);
}

#media-controls {
  background-color: #ffffff;
  font-size: 30px;
  padding: 0 0 45px;
  background: linear-gradient(45deg, transparent 25%, white 25%);
}

#pulseaudio {
  color: #000000;
  background-color: #ffffff;
  padding: 10px 0 10px;
  margin: 4px 0 40px;
  font-family: "Departure Mono Nerd Font", monospace;
  font-size: 24px; 
}

#pulseaudio format-icons {
    font-size: 30px;
}

#session-buttons {
  background-color: #ffffff;
  font-size: 25px;
  padding: 50px 0px 0px 0px;
  background: linear-gradient(45deg, white 75%, transparent 75%);
}

#custom-lockbutton,
#custom-rebootbutton,
#custom-powerbutton {
  padding: 5px 0px 5px 0px;
}
