.top-bar {
    font-family: "DepartureMono Nerd Font";
    font-size: 15px;
    color: #ffffff;
}

.left-bar {
    font-family: "DepartureMono Nerd Font";
    font-size: 15px;
    color: #000000;
}

window.top-bar#waybar {
  background-color: #000000;
}

window.left-bar#waybar {
  background-color: #ffffff;
}

#clock {
    padding: 0 10px;
}

#custom-dualitybox {
  padding: 10px 10px 4px 10px;
  background: linear-gradient(45deg, white 50%, black 50%);
}

#custom-powerbutton {
  font-size: 20px;
  margin: 10px 10px 10px 10px;
}
